html {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background-color: #ffe6ff;
   
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstlist ul {
    list-style-type: none;
    font-size: 24px;
}
.firstlist  li a {
    text-decoration: none;
    color: black;
}
.firstlist li {
    display: inline;
    padding: 15px;
    
}

 body {
     padding-left: 20px;
     
     
 }
 .myname h1 {
     font-size: 48px;
     color:black;
     text-align: left;
 }
#about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
#about img {
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px #ff99ff;


}
#about h2 {
    font-size: 30px;
    background-color: black;
    color: white;
    box-shadow: 10px 10px #ff99ff;
    width: 50%;
    padding-left: 10px;

}
#writing {
    width: 800px;
}
#titlecontainer h2 {
    font-size: 30px;
    background-color: black;
    color: white;
    box-shadow: 10px 10px #ff99ff;
    width: 45%;
    padding-left: 10px;
}
#mothercontainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  
    height: 500px;
    flex-wrap: wrap;
    align-content: center;
 
    
   
}
.container {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px #ff99ff;
    margin: 15px;
}

.container img {
    width: 250px;
    height: 250px;
    object-fit: cover;   
}
#skills h2 {
    font-size: 30px;
    background-color: black;
    color: white;
    box-shadow: 10px 10px #ff99ff;
    width: 35%;
    padding-left: 10px;
}
.icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}
footer h3 {
    text-align: center;
    font-size: 30px;

}
/* CONTACT.HTML STYLING */
#contactlist {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    list-style-type: none;
    min-width: 100px;
    
    
    


}
#contactlist li a {
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 10px 10px #ff99ff;
    text-decoration: none; 
    margin: 15px;
    display: inline-flex;
}
.home {
    margin-right: 50px;
    font-size: 24px;
}

.home li {
    list-style-type: none;
    
}
.home li a {
    text-decoration: none;
}

/* RESPONSIVE QUERIES */


    @media only screen and (max-width:900px) {
        #mothercontainer {
            height: 750px;

        }
    }

    @media only screen and (max-width:610px) {
        #mothercontainer {
            height: 900px;
        }
    }
    @media only screen and (max-width:400px) {
    .icons {
        width: 300px;
        margin: 15px;
    }
   
    @media only screen and (max-width:375px) {
    body {
        width: 300px;
        margin: 15px;
    }
   
}
    @media only screen and (max-width:800px) {
        #contactlist li a{
            height: 50px;
            width: 100px;
            

        }

    }
    @media only screen and (max-width:630px) {
        #contactlist li a  { 
        height: 75px;
        width: 75px;
        align-content:center;
        }
        .home {
            margin: 5px;
        }

    }